/SurrealTravelDAO/target/
/SurrealTravelService/target/
/SurrealTravelWeb/target/
/SurrealTravelWeb/nb-configuration.xml
/SurrealTravelService/nb-configuration.xml
/SurrealTravelDAO/nb-configuration.xml
/nb-configuration.xml
/SurrealTravelAPI/target/
/SurrealTravelAPI/nb-configuration.xml
/SurrealTravelCLI/target/
/SurrealTravelCLI/nb-configuration.xml
/SurrealTravelCLI/nbactions.xml
/target/