<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
    <http auto-config="true" use-expressions="true">

        <access-denied-handler error-page="/403" />

        <form-login 
            login-page="/login" 
            default-target-url="/" 
            authentication-failure-url="/login?error" 
            username-parameter="username"
            password-parameter="password" />
        <logout
            logout-success-url="/logout" />
        
        <!-- enable csrf protection -->
        <csrf/>
    </http>

    <!-- Select users and user_roles from database -->
    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder"/>
            <jdbc-user-service data-source-ref="dataSource"
              users-by-username-query=
                "SELECT a.username,a.password,TRUE FROM account a WHERE a.username=?"
              authorities-by-username-query=
                "SELECT a.username, r.authority FROM account a, account_roles r WHERE a.id = r.account_id AND a.username=?" />
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="encoder">
        <beans:constructor-arg value="12" name="strength"/>
    </beans:bean>
 
</beans:beans>